.lastname {
    position: absolute;
    top: 45%;
    right: 20vw;
    font-size: 20px;
}

.firstname {
    position: absolute;
    top: 50%;
    right: 18vw;
    font-size: 20px;
}

.info {
    position: absolute;
    top: 5.5vw;
    right: 40%;
    font-size: smaller;
}

.folio {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: smaller;

    & .nbr-folio {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 9vw;
    }
}

.line {
    position: absolute;
    top: 50%;
    right: 5vw;
    height: 2px;
    width: 7vw;
    background: rgb(53, 53, 53);
    opacity: .15;
}

.localisation {
    position: absolute;
    bottom: 6.45vw;
    right: 14vh;
    font-size: .83vw;
    letter-spacing: .02em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.contact {
    position: absolute;
    top: 5vw;
    right: 14vh;
    font-size: 0.90vw;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.count-div {
    position: absolute;
    bottom: 6.45vw;
    left: 25vw;
    font-size: 0.90vw;
    color: black;
}

.fast-summary {
    position: absolute;
    top: 30%;
    left: 2vw;
}

.item-fast-summary {
    margin: 2em 0;
}