.todo-ul {
    margin: 2em;
}

.todo-li {
    margin: 1em 0;
}

.todo-list-input {
    margin: 0 2em 0 0;
    padding: .2em;
}

@media (min-width: 360px) and (max-width: 540px) {
    .todo-ul {
        margin: 0;
        font-size: 15px;
    }
}

@media (min-width: 541px) and (max-width: 766px) {
    
}

@media (min-width: 767px) and (max-width: 1280px) {
    .todo-ul {
        margin: 0;
    }
}

@media (min-width: 1281px) {
    
}