.burger-menu-icon {
    position: absolute;
    top: 2.1vw;
    left: 2.1vw;
    bottom: 1.1vw;
    right: 1.1vw;
    width: 24px;
    height: 24px;
}
.burger-menu-button {
    position: absolute;
    top: 2.1vw;
    left: 2.1vw;
    bottom: 1.1vw;
    right: 1.1vw;
    background-color:  #e5e5e5;
    border: none;
    height: 0;
}

.navigation-links {
    position: absolute;
    background-color: white;
    top: 2vw;
    left: 2vw;
    bottom: 2vw;
    width: 80vw;
    color: black;
}

.cls-button {
    position: absolute;
    top: calc(50% - 3.125vw / 2);
    left: 91.14vw;
    border: none;
    padding: 1em;
    text-transform: uppercase;
    background-color: #e5e5e5; 

    & .cls-line {
        position: absolute;
        top: 50%;
        right: 7vw;
        background-color: black;
        width: 5vw;
        height: 1px;
    }
}

.list-summary {
    flex-direction: row;
    height: 100%;
    top: 0;
    width: 100%;
}

.list-container {
    display: flex;
    position: absolute;
    background-color: white;
    padding: 0 10vw 0 2vw;
    top: 2vw;
    left: 2vw;
    bottom: 2vw;
    width: 80vw;
    z-index: 1;
}

.nav-link {
    flex: 1;
}