@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

////////
//@media 

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  .acceuil-container {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/images/img0.jpg") #f5c381 no-repeat center;
    opacity: 0.5;
    z-index: 1;
  }

  .lastname {
    position: absolute;
    top: calc(20vh + 10vh);
    right: 27vw;
    font-size: 4em;
    color: rgb(68, 68, 68);
  }

  .firstname {
    position: absolute;
    top: calc(40vh - 7vh);
    right: 20vw;
    font-size: 4em;
    color: rgb(68, 68, 68);
  }

  .line-disapear {
    position: relative;
    bottom: 2.5vh;
    right: 5vw;
    height: .2vh;
    width: 4vw;
    background: rgb(53, 53, 53);
    opacity: .7;
  }

  .line-display {
      position: relative;
      bottom: 3.5vh;
      right: 3vw;
      width: 0px;
      height: .3vh;
      background: rgb(53, 53, 53);
      text-shadow: .1rem .1rem black;
  }

  .info {
    position: absolute;
    top: 9vh;
    right: 22vw;
    font-size: 1.5em;
  }

  .web-mobile {
    position: absolute;
    top: 9vh;
    left: 22vw;
    font-size: 1.5em;
  }

  .folio {
    position: absolute;
    top: 30vh;
    left: 25vw;
    font-size: 50px;
  }

  .line-folio {
  position: relative;
  opacity: 0.7;
  height: 1px;
  background: rgb(53, 53, 53);
  }

  .nbr-folio {
    position: absolute;
    top: 100%;
    left: 25%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 4em;
    height: 15vh;
    font-family: 'Bebas Neue';
    letter-spacing: .5vh;
    mix-blend-mode: difference;
  }
  .year {
    position: absolute;
    bottom: 20vh;
    right: 45vw;
    font-size: 3em;
    overflow: hidden;
    text-overflow: clip;
    direction: rtl;
    width: 4.2vw;
  }

  .localisation {
    position: absolute;
    top: 10vh;
    right: 5vw;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .ville, .pays {
    margin: 1em;
  }

  .rectangle-1 {
    position: absolute;
    top: 35vh;
    left: 0;
    height: 4vh;
    background: url("../../assets/images/img0.jpg") 77.5vw 46.5vw;;
    opacity: 0.5;
  }
      
  .rectangle-2 {
    position: absolute;
    top: 44.2vh;
    left: 0;
    height: 4vh;
    background: url("../../assets/images/img0.jpg") 76.5vw 42vw;
    opacity: 0.5;
  }
      
  .rectangle-3 {
    position: absolute;
    top: 53.2vh;
    left: 0;
    height: 4vh;
    background: url("../../assets/images/img0.jpg") 76.5vw 37.5vw;
    opacity: 0.5;
  }
}
  
// /* 
//     ##Device = Laptops, Desktops
//     ##Screen = B/w 1025px to 1280px
// */
  
  @media (min-width: 767px) and (max-width: 1280px) {
    
    /* CSS */
  .acceuil-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/img0.jpg");
    opacity: 0.5;
  }

  .lastname {
      position: absolute;
      top: calc(40vh + 10vh);
      right: 27vw;
      font-size: 3em;
      color: rgb(68, 68, 68);
  }

  .firstname {
      position: absolute;
      top: calc(60vh - 5vh);
      right: 20vw;
      font-size: 3em;
      color: rgb(68, 68, 68);
  }

  .info {
      position: absolute;
      top: 9vh;
      right: 22vw;
      font-size: 0.8em;
  }

  .web-mobile {
      position: absolute;
      top: 9vh;
      left: 22vw;
      font-size: 0.8em;
  }

  .folio {
      position: absolute;
      top: 30vh;
      left: 20vw;
      font-size: 50px;
  }

  .line-folio {
    position: relative;
    opacity: 0.7;
    height: 1px;
    background: rgb(53, 53, 53);
  }

  .nbr-folio {
      position: absolute;
      top: 100%;
      left: 25%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 3em;
      height: 15vh;
      font-family: 'Bebas Neue';
      letter-spacing: .5vh;
      mix-blend-mode: difference;
  }

  .line-disapear {
      position: relative;
      bottom: 2.5vh;
      left: 27vw;
      height: .2vh;
      width: 4vw;
      background: rgb(53, 53, 53);
      opacity: .7;
  }

  .line-display {
      position: relative;
      bottom: 2.5vh;
      right: 5vw;
      width: 0px;
      height: .3vh;
      background: rgb(53, 53, 53);
      text-shadow: .1rem .1rem black;
  }

  .localisation {
    position: absolute;
    top: 10vh;
    right: 5vw;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .ville, .pays {
    margin: 1em;
  }

  .year {
      position: absolute;
      bottom: 20vh;
      right: 45vw;
      font-size: 3em;
      overflow: hidden;
      text-overflow: clip;
      direction: rtl;
      width: 13.3vw;
  }

  .rectangle-1 {
      position: absolute;
      top: 39vh;
      left: 0;
      height: 4vh;
      background: url("../../assets/images/img0.jpg") 0 0;
      opacity: 0.5;
      mix-blend-mode: difference;
  }

  .rectangle-2 {
      position: absolute;
      top: 46.2vh;
      left: 0;
      height: 4vh;
      background: url("../../assets/images/img0.jpg")0 0;
      opacity: 0.5;
  }

  .rectangle-3 {
      position: absolute;
      top: 53.2vh;
      left: 0;
      height: 4vh;
      background: url("../../assets/images/img0.jpg") 0 0;
      opacity: 0.5;
  }
}

//   /* 
//     ##Device = Tablets
//  
//   */
  
  @media (min-width: 541px) and (max-width: 766px) {
    
    /* CSS */

    .acceuil-container {
      width: 100vw;
      height: 100vh;
      background-image: url("../../assets/images/img0.jpg");
      opacity: 0.5;
    }
  
    .lastname {
        position: absolute;
        top: calc(20vh + 10vh);
        right: 27vw;
        font-size: 3em;
        color: rgb(68, 68, 68);
    }
  
    .firstname {
        position: absolute;
        top: calc(40vh - 5vh);
        right: 20vw;
        font-size: 3em;
        color: rgb(68, 68, 68);
    }
  
  .info {
      position: absolute;
      top: 9vh;
      right: 22vw;
      font-size: 0.8em;
  }
  
  .web-mobile {
      position: absolute;
      top: 9vh;
      left: 22vw;
      font-size: 0.8em;
  }
  
  .folio {
      position: absolute;
      top: 30vh;
      left: 5vw;
      font-size: 50px;
  }
  
  .line-folio {
    position: relative;
    opacity: 0.7;
    height: 1px;
    background: rgb(53, 53, 53);
  }
  
  .nbr-folio {
      position: absolute;
      top: 100%;
      left: 25%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 3em;
      height: 15vh;
      font-family: 'Bebas Neue';
      letter-spacing: .5vh;
      mix-blend-mode: difference;
  }
  
  .line-disapear {
      position: relative;
      bottom: 1.5vh;
      left: 44vw;
      height: .2vh;
      width: 4vw;
      background: rgb(53, 53, 53);
      opacity: .7;
  }
  
  .line-display {
      position: relative;
      bottom: 2.5vh;
      right: 5vw;
      width: 0px;
      height: .3vh;
      background: rgb(53, 53, 53);
      text-shadow: .1rem .1rem black;
  }
  
  .localisation {
    position: absolute;
    top: 10vh;
    right: 5vw;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  
  .ville, .pays {
    margin: 1em;
  }

  .count-div {
      position: absolute;
      bottom: 6.45vh;
      left: 25vw;
      font-size: 0.90vw;
      color: white;
  }
  
  .year {
      position: absolute;
      bottom: 20vh;
      right: 45vw;
      font-size: 2em;
      overflow: hidden;
      text-overflow: clip;
      direction: rtl;
      width: 9.5vw;
  }
}

  // Phone 
@media (min-width: 360px) and (max-width: 540px) {
  .acceuil-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/img0.jpg");
    opacity: 0.5;
  };

  .lastname {
    position: absolute;
    top: 25vh;
    font-size: 2em;
    color: rgb(68, 68, 68);
  }

  .firstname {
    position: absolute;
    top: 30vh;
    left: 20vw;
    font-size: 2em;
    color: rgb(68, 68, 68);
  }

  .line-disapear {
    position: relative;
    bottom: 0.5em;
    left: -2em;
    height: .2vh;
    width: 2em;
    background: rgb(53, 53, 53);
    opacity: .7;
  }

  .line-display {
    position: relative;
    height: 1px;
    width: 0;
    left: 3em;
    bottom: 0.5em;
    background: rgb(53, 53, 53);
  }

  .info {
    position: absolute;
    top: 1.5em;
    right: 3em;
    font-size: 0.8em;
  }

  .web-mobile {
      position: absolute;
      top: 1.5em;
      left: 6em;
      font-size: 0.8em;
  }

  .folio {
    position: relative;
    bottom: calc(53vh + 2vh);
    left: 1em;
    font-size: 40px;
    width: fit-content;
  }

  .line-folio {
    position: relative;
    opacity: 0.7;
    height: 1px;
    background: rgb(53, 53, 53);
  }

  .nbr-folio {
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 4em;
    font-family: 'Bebas Neue';
    letter-spacing: .5vh;
    mix-blend-mode: luminosity;
  }

  .localisation {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    mix-blend-mode: luminosity;
  }

  .ville, .pays {
    margin: 1em;
  }

  .year {
    position: absolute;
    top: 34vh;
    right: 3vw;
    font-size: 2em;
    overflow: hidden;
    text-overflow: clip;
    direction: rtl;
    width: 70px;
  }
}