@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.thumbnail {
    overflow: hidden;
    position: relative;
    margin: auto;
    height: 50vh;
    width: 524px;
    top: 8em;
}

.container {
    position: relative;
}

.row-center {
    height: 100%;
    align-items: center;
    margin: auto;
}

.image-container {
    position: relative;
}

.frame img {
    width: 100%;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 75vh;
    left: 40vw;
    position: absolute;
    font-size: .9em;
}

.title-name {
    position: absolute;
    left: -10vw;
}

.caracteristique {
    position: absolute;
    left: 20vw;
}
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 1281px) {
    
    /* CSS */
    .thumbnail {
        overflow: hidden;
        position: relative;
        margin: auto;
        height: 100vh;
        width: 624px;
        top: 7em;
    }
    
    .container {
        position: relative;
    }
    
    .row-center {
        height: 100%;
        align-items: center;
        margin: auto;
    }
    
    .image-container {
        position: relative;
    }
    
    .frame img {
        width: 100%;
    }
    
    .information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 3vh;
        left: 12vw;
        position: relative;
        font-size: .9em;
    }
    
    .title-name {
        position: relative;
    }
    
    .caracteristique {
        position: relative;
        left: -15vw;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
  */
  
  @media (min-width: 767px) and (max-width: 1280px) {
    
    /* CSS */
    .thumbnail {
        overflow: hidden;
        position: relative;
        margin: auto;
        height: 100vh;
        width: 524px;
    }
    
    .container {
        position: relative;
    }
    
    .row-center {
        height: 100%;
        align-items: center;
        margin: auto;
    }
    
    .image-container {
        position: relative;
    }
    
    .frame img {
        width: 100%;
    }
    
    .information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 3vh;
        left: 12vw;
        position: relative;
        font-size: .9em;
        font-family: 'Della Respira', serif;
    }
    
    .title-name {
        position: relative;
    }
    
    .caracteristique {
        position: relative;
        left: -15vw;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 541px) and (max-width: 766px) {
    
    /* CSS */
    .thumbnail {
        overflow: hidden;
        position: relative;
        margin: auto;
        height: 100vh;
        width: 424px;
    }
    
    .container {
        position: relative;
    }
    
    .row-center {
        height: 100%;
        align-items: center;
        margin: auto;
    }
    
    .image-container {
        position: relative;
    }
    
    .frame img {
        width: 100%;
    }
    
    .information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 3vh;
        left: 12vw;
        position: relative;
        font-size: .9em;
    }
    
    .title-name {
        position: relative;
    }
    
    .caracteristique {
        position: relative;
        left: -15vw;
    }
  }

@media (min-width: 360px) and (max-width: 540px) {
    .thumbnail {
        overflow: hidden;
        position: relative;
        margin: auto;
        height: 100vh;
        width: 324px;
        top: 7em;
    }
    
    .container {
        position: relative;
    }
    
    .row-center {
        height: 100%;
        align-items: center;
        margin: auto;
    }
    
    .image-container {
        position: relative;
    }
    
    .frame img {
        width: 100%;
    }
    
    .information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 3vh;
        left: 12vw;
        position: relative;
        font-size: .9em;
    }
    
    .title-name {
        position: relative;
    }
    
    .caracteristique {
        position: relative;
        left: -15vw;
    }
}