works-content {
    display: flex;
    flex-direction: column;
}

.projets {
    width: 100%;
    display: flex;
    padding: 5em;
}

.projets:nth-child(1n) {
    flex-direction: column;
    background-color: rgb(238, 238, 216);
    color: rgb(51, 51, 51);
}

.projets:nth-child(2n) {
    background-color: rgb(51, 51, 51);
    color: rgb(238, 238, 216);
    flex-direction: column;
}

// Pour la description des app 
.info-div {
    display: flex;
    margin: auto;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 15px;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
}

.left-row {
    border-right: 1px solid rgb(51, 51, 51);
    writing-mode: vertical-rl;
    padding: 0.3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.right-row-top, .right-row-top-1, .right-row-mid {
    border-bottom: 1px solid rgb(51, 51, 51);
}

.info-div-reverse {
    display: flex;
    margin: auto;
    border: 1px solid rgb(238, 238, 216);
    border-radius: 15px;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
}

.left-row-reverse {
    border-right: 1px solid rgb(238, 238, 216);
    writing-mode: vertical-rl;
    padding: 0.3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.right-row-top-reverse, .right-row-top-1-reverse, .right-row-mid-reverse {
    border-bottom: 1px solid rgb(238, 238, 216);
}

.right-row {
    display: flex;
    flex-direction: column;
}

.info-div-h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    margin: 1em;
}

.amelioration, .general, .mvp {
    margin: 1em;
    line-height: 1.5em;
}

.projets-subtitle {
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
}
///////////////////////////
  
  @media (min-width: 1281px) {
    
    /* CSS */
    .projets:nth-child(1n) {
        background-color: rgb(238, 238, 216);
        color: rgb(51, 51, 51);
        flex-direction: row;
    }

    .projets:nth-child(2n) {
        background-color: rgb(51, 51, 51);
        color: rgb(238, 238, 216);
        flex-direction: row-reverse;
    }


    .app-div {
        margin: 2em auto;
        flex: 1;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 767px) and (max-width: 1280px) {
    
    /* CSS */
    

    .app-div {
        margin: 2em auto;
        flex: 1;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 541px) and (max-width: 770px) {
    
    /* CSS */
    .projets:nth-child(1n) {
        flex-direction: column;
        background-color: rgb(238, 238, 216);
        color: rgb(51, 51, 51);
    }

    .projets:nth-child(2n) {
        background-color: rgb(51, 51, 51);
        color: rgb(238, 238, 216);
        flex-direction: column;
    }

    .app-div {
        margin: 1em auto;
    }
  }

@media (min-width: 360px) and (max-width: 540px) {
    .projets:nth-child(1n) {
        flex-direction: column;
        background-color: rgb(238, 238, 216);
        color: rgb(51, 51, 51);
    }

    .projets:nth-child(2n) {
        background-color: rgb(51, 51, 51);
        color: rgb(238, 238, 216);
        flex-direction: column;
    }

    .projets {
        padding: 3em 0.5em;
    }

    .app-div {
        margin: 1em auto;
        width: 100%;
    }
}