.single {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.top {
    position: relative;
    height: 100%;
    width: 100%;
}

.bottom-row {
    position: relative;
    height: 50vh;
    width: 524px;
}

.bottom {
    height: 100%;
    width: 100%;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location span:nth-child(2){
    margin-left: 16px;
}

.model {
    overflow: hidden;
    height: 50vh;
    text-align: center;
    padding-top: 25vh;
    font-family: 'Della Respira', serif;
}

.birth {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 2em 0;
}

.first {
    margin-right: 72px;
}

.span-first {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 70px;
}

.bottom-row {
    position: relative;
}

.container-information {
    width: 100%;
    height: 100vh;
}

.thumbnail-single {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.frame-single img{
    position: absolute;
    width: 100%;
}

.scroll-for-more {
    position: absolute;
    bottom: 10vh;
    left: 5vw;

    & .text {
        color: white;
    }
}

.container-information {
    background-color: rgb(51, 51, 51);
    color: rgb(238, 238, 216);
    width: 100%;
    padding: 0 0 200vh;
    font-size: 24px;
}

.hero-section {
    position: relative;
    padding: 2em;
    width: 100%;
    height: 100%;
}

.help-section {
    white-space: nowrap;
    font-size: 46px;
    width: fit-content;
    letter-spacing: .5em;
    margin: 0 0 0 -150vw;
    border-top: 1px white solid 100%;
    border-bottom: 1px white solid 100%;
    padding: 1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-transform: uppercase;
    color: transparent;
}

.presentation-section {
    margin: auto;
    height: 100%;
}

.presentation-1 {
    margin: 3em 0 0 0;
    letter-spacing: 0.1em;
    line-height: 1.1em;

    & span {
        font-size: larger;
        font-weight: bold;
        text-decoration-line: underline;
    }
}

.container-personnal {
    display: flex;
    flex-direction: row;
}

.personnals {
    flex: 1;
    padding: 2em;
    font-weight: lighter;
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 1281px) {
    
    /* CSS */
    .bottom-row {
        position: relative;
        height: 50vh;
        width: 724px;
        margin: auto;
    }
}
  
  /* 
    ##Device = Tablets, Ipads (landscape)
  */
  
@media (min-width: 767px) and (max-width: 1280px) {
    
    /* CSS */
    .bottom-row {
        position: relative;
        height: 50vh;
        width: 524px;
        margin: auto;
    }
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 541px) and (max-width: 766px) {
    
    /* CSS */
    .bottom-row {
        position: relative;
        height: 50vh;
        width: 324px;
        margin: auto;
    }
    .span-first {
        font-size: 45px;
    }
    .first {
        margin-right: 20px;
    }
    .model {
        height: 50vh;
        padding-top: 35vh;
    }

    .container-information {
        height: fit-content;
        padding: 0;
    }

    .help-section {
        margin: 0 0 0 -21.5em;
        font-size: 29px;
    }
}

@media (min-width: 360px) and (max-width: 540px) {
    .bottom-row {
        position: relative;
        height: 50vh;
        width: 324px;
        margin: auto;
    }
    .span-first {
        font-size: 35px;
    }
    .first {
        margin-right: 40px;
    }
    .model {
        height: 50vh;
        padding-top: 35vh;
    }

    .container-information {
        height: fit-content;
        padding: 0;
    }

    .help-section {
        margin: 0 0 0 -21.5em;
        font-size: 22px;
    }
}