.content {
    position: absolute;
    top: 0;
    left: 51vw;
    min-height: 105vh;
}

.title-contact {
    margin: 11.25vw 0 0 -.1vw;
    font-size: 8.6vw;
    color: #c0361a;
    line-height: 80%;
}

.formulaire {
    padding: 6.35vw 0 10vw;
    width: 28vw;
}

.input-field {
    position: relative;
    overflow: hidden;
    margin: 2vw 0 0;
    height: 4vw;
}