.gradient-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em auto;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    border: 1px solid rgba(51, 51, 51, 0.712);
    margin: 1em;
    background-color: rgb(238, 238, 216);
}