.container {
    display: flex;
    flex-direction: column;
}

.top {
    position: relative;
    top: 5em;
}
.bottom-row {
    position: relative;
    height: 50vh;
    width: 524px;
}

.bottom {
    height: 100%;
    width: 100%;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location span:nth-child(2){
    margin-left: 16px;
}

.model {
    overflow: hidden;
    height: 5em;
}

.birth {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 2em 0;
}

.first {
    margin-right: 72px;
}

.span-first {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 70px;
}

.bottom-row {
    position: relative;
}

.container-information {
    width: 100%;
    height: 100%;
}

.thumbnail-single {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.frame-single img{
    position: absolute;
    width: 100%;
}

.scroll-for-more {
    position: absolute;
    bottom: 10vh;
    left: 5vw;

    & .text {
        color: white;
    }
}

.detailed-information {
    margin: 2em;
    height: 100vh;
}

.title, .hero-section {
    font-size: 36px;
    margin: 2em 0;
    padding: 1em;
}

.hero-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-description {
    font-size: 24px;
    margin: 2em;
    text-align: right;
    position: relative;
    width: fit-content;
}

.item-list {
    margin: 1em;
    font-size: 1.5em;
}