// Container du menu
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.burger-menu-icon {
    position: absolute;
    top: 2.1vw;
    left: 2.1vw;
    bottom: 1.1vw;
    right: 1.1vw;
    width: 24px;
    height: 24px;
}
.burger-menu-button {
    position: absolute;
    top: 2.1vw;
    left: 2.1vw;
    bottom: 1.1vw;
    right: 1.1vw;
    background-color: transparent;
    border: none;
    height: 0;
    z-index: 20;
}

// Section de gauche pour fermer le menu 
.cls-button {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    border: none;
    padding: 1em;
    align-items: center;
    overflow: visible;
    text-transform: uppercase;
    background-color: #fc423f;
    height: 100%;
    justify-content: center;
}

// Partie centrale du menu
.partie-centrale {
    display: flex;
    padding: 30vh 7.3vw;
    height: 100vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 2;
    width: 60%;
    overflow: hidden;
}

// Fond pour partie centrale
.background-center-section {
    background-color: #1b1b1b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

// nav section
.menu-main-navigation {
    z-index: 10000;
    display: block;
}
// Le ul
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

// Les li
.item {
    margin: 22px 0;
    width: 45%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    pointer-events: none;
}

// le NavLink 
.link {
    position: relative;
    display: block;
    pointer-events: all;
    opacity: 1;
    transform: translate(0px, 0px);
}

// div inner-link qui comprend les deux span + la div
.inner-link {
    pointer-events: none;
    transform: translate(0%, 0px);
    transition: 0.5s;
}

// Navigation

.anim-layer {
    backface-visibility: hidden;
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
    transform: translate(100%, 0px);
}

.anime-text {
    backface-visibility: hidden;
    width: 100%;
    display: block;
    color: #fff;
    transition: 0.5s;
    font-size: 3em;
    transform: translate(-100%, 0px);
}

.label {
    font-size: 3em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-transform: uppercase;
    color: transparent;
    pointer-events: none;
}

.item:hover {
    .inner-link {
        transform: translate(5%, 0px);
        transition: 0.5s;
    }
    .anim-layer {
        transition: 0.5s;
        transform: translate(0%, 0px);
    }
    .anime-text {
        transition: 0.5s;
        transform: translate(0%, 0px);
    }
}

//////////////////////////////////////////////

// Partie droite
.contact-zone {
    padding: 30vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 20%;
    height: 100%;
    background-color: #ffffff;
};

// /* 
//   ##Device = Desktops
//   ##Screen = 1281px to higher resolution desktops
// */

// @media (min-width: 1281px) {
  
//     /* CSS */
    
//   }
  
//   /* 
//     ##Device = Laptops, Desktops
//     ##Screen = B/w 1025px to 1280px
//   */
  
//   @media (min-width: 1025px) and (max-width: 1280px) {
    
//     /* CSS */

//     .contact-zone {
//         width: 24%;
//     }

//     .item {
//         width: 60%;
//     }
    
//   }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 1281px) {
    
    /* CSS */
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 767px) and (max-width: 1280px) {
    
    /* CSS */
    .item {
        width: 50%;
    }
    .contact-zone {
        width: 25%;
    }
    .label {
        font-size: 2em;
    }
    .anime-text {
        font-size: 2em;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 541px) and (max-width: 766px) {
    
    /* CSS */
    .backdrop {
        flex-direction: column;
    }
    .cls-button {
        width: 100%;
        height: 20%;
    }
    .contact-zone {
        width: 100%;
        padding: 20px;
    }
    .item {
        width: 100%;
        margin: 10px 0;
    }
  }

@media (min-width: 360px) and (max-width: 540px) {
    .backdrop {
        flex-direction: column;
    }
    .cls-button {
        width: 100%;
        height: 10%;
    }
    .contact-zone {
        width: 100%;
        padding: 20px;
    }
    .item {
        width: 100%;
        font-size: 11px;
    }
}